/projeto_pesquisa.aux
/projeto_pesquisa.bbl
/projeto_pesquisa.blg
/projeto_pesquisa.brf
/projeto_pesquisa.idx
/projeto_pesquisa.lof
/projeto_pesquisa.log
/projeto_pesquisa.lot
/projeto_pesquisa.pdf
/projeto_pesquisa.synctex.gz
/projeto_pesquisa.toc
/projeto_pesquisa.tex~
/fontes.bib.bak
/fontes.bib.sav
